#root {
  display: flex;
  padding: 100px 0;
  justify-content: center;
}

/* button styles */
a {
  background: red;
  position: relative;
  padding: 50px 100px;
}

circle {
  animation: grow .5s;
  transform-origin: 50% 50% 0;
  fill: white;
}

@keyframes grow {
  0% {
    opacity: .8;
    transform: scale3d( 1, 1, 1 );
  }
  100% {
    opacity: 0;
    transform: scale3d( 10, 10, 1 );
  }
}
